@using Clinic.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Signin";
}

<style>
    .custom-form {
        margin-top: 50px;
        background-color: #FFFFFF; 
        color: #0C7691;
        padding: 20px;
        border-radius: 10px;
    }

        .custom-form .form-group {
            margin-bottom: 20px;
        }

        .custom-form input[type="submit"] {
            background-color: #0C7691;
            color: #FFFFFF; 
            border-color: #0C7691; 
        }
</style>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="custom-form">
            <h4 class="text-center">Sign in to your account</h4>
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger">
                    <span><b>Sorry!</b> - @TempData["Error"]</span>
                </div>
            }
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EmailAddress" class="control-label"></label>
                    <input asp-for="EmailAddress" class="form-control">
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input class="btn btn-outline-light" type="submit" value="Log in" />
                </div>
            </form>

            <p class="text-center">Don't have an account?</p>
            <h5 class="text-center"><a asp-area="" asp-controller="Account" asp-action="Code">Sign up</a></h5>
        </div>
    </div>
</div>