@model IEnumerable<Reception>


    @{
    ViewData["Title"] = "Receptions";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/badges/">
    <link href="badges.css" rel="stylesheet">
    <style>
        .btn-outline-success {
            color: #0C7691;
            border-color: #0C7691;
        }

            .btn-outline-success:hover {
                background-color: #0C6082;
                color: #FFFFFF;
            }
    </style>
    
</head>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <form id="filterForm" class="d-flex" role="search" asp-controller="Reception" asp-action="Filter" method="GET">
                <div class="row g-2 align-items-center">
                    <div class="col-auto">
                        <label for="startDatePicker" class="col-form-label">Start Date:</label>
                    </div>
                    <div class="col-auto">
                        <input class="form-control form-control-sm" type="date" id="startDatePicker" name="startDate">
                    </div>
                    <div class="col-auto">
                        <label for="endDatePicker" class="col-form-label">End Date:</label>
                    </div>
                    <div class="col-auto">
                        <input class="form-control form-control-sm" type="date" id="endDatePicker" name="endDate">
                    </div>
                    <div class="col-auto">
                        <input class="btn btn-outline-success btn-sm" type="submit" value="Filter" />
                        <button class="btn btn-outline-secondary btn-sm" type="button" id="clearFilter">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this reception?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="table-responsive small">
            @await Html.PartialAsync("_ReceptionsTable", Model)
        </div>
        <div class="position-fixed bottom-0 end-0 mb-3 me-3">
            @if (User.Identity.IsAuthenticated && User.IsInRole("admin") || User.IsInRole("nurse"))
            {
                <a type="btn btn-success" asp-controller="Reception" asp-action="Create"
                   class="btn btn-primary rounded-circle" style="background:#0C7691;"><i class="bi bi-plus-circle"></i></a>
            }
        </div>
    </div>

</div>



@section Scripts {
    <script>
        var deleteReceptionId;

        $(document).ready(function () {
            $('.btn-delete').click(function () {
                deleteReceptionId = $(this).data('reception-id'); 
                $('#deleteConfirmationModal').modal('show');
            });

            $('#confirmDeleteButton').click(function () {
                $.ajax({
                    url: '/Reception/Delete',
                    type: 'POST',
                    data: { id: deleteReceptionId },
                    success: function (data) {
                        location.reload();
                    },
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#filterForm').submit(function (event) {
                event.preventDefault(); 

                var startDate = $('#startDatePicker').val();
                var endDate = $('#endDatePicker').val();

                $.ajax({
                    url: '/Reception/Filter',
                    type: 'GET',
                    data: {
                        startDate: startDate,
                        endDate: endDate
                    },
                    success: function (data) {
                        $('#receptionsTable').html(data);
                    },
                    error: function () {
                        alert('An error occurred while processing your request.');
                    }
                });
            });
        });
        $('#clearFilter').click(function () {
            $('#startDatePicker').val(''); 
            $('#endDatePicker').val('');  

            var startDate = ''; 
            var endDate = '';   

            $.ajax({
                url: '/Reception/Filter',
                type: 'GET',
                data: {
                    startDate: startDate,
                    endDate: endDate
                },
                success: function (data) {
                    $('#receptionsTable').html(data);
                },
                error: function () {
                    alert('An error occurred while processing your request.');
                }
            });
        });
    </script>
}