@model IEnumerable<Reception>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/badges/">
    <link href="badges.css" rel="stylesheet">
</head>

<form id="filterForm" class="d-flex" role="search" asp-controller="Reception" asp-action="Index" method="GET">
    <label for="startDatePicker">Start Date:</label>
    <input class="form-control me-2" type="date" id="startDatePicker" name="startDate">

    <label for="endDatePicker">End Date:</label>
    <input class="form-control me-2" type="date" id="endDatePicker" name="endDate">

    <button class="btn btn-outline-success" type="submit">Filter</button>
    <button class="btn btn-outline-secondary" type="button" id="clearFilter">Clear</button>
</form>

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this reception?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="table-responsive small">
            @await Html.PartialAsync("_ReceptionsTable", Model)
        </div>
        <div class="position-fixed bottom-0 end-0 mb-3 me-3">
            @if (User.Identity.IsAuthenticated && User.IsInRole("admin") || User.IsInRole("nurse"))
            {
                <a type="btn btn-success" asp-controller="Reception" asp-action="Create"
                class="btn btn-primary rounded-circle"><i class="bi bi-plus-circle"></i></a>
            }
        </div>
    </div>

</div>



@section Scripts {
    <script>
        var deleteReceptionId;

        $(document).ready(function () {
            $('.btn-delete').click(function () {
                deleteReceptionId = $(this).data('reception-id'); 
                $('#deleteConfirmationModal').modal('show');
            });

            $('#confirmDeleteButton').click(function () {
                $.ajax({
                    url: '/Reception/Delete',
                    type: 'POST',
                    data: { id: deleteReceptionId },
                    success: function (data) {
                        location.reload();
                    },
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#filterForm').submit(function (event) {
                event.preventDefault(); 

                var startDate = $('#startDatePicker').val();
                var endDate = $('#endDatePicker').val();

                $.ajax({
                    url: '/Reception/Filter',
                    type: 'GET',
                    data: {
                        startDate: startDate,
                        endDate: endDate
                    },
                    success: function (data) {
                        $('#receptionsTable').html(data);
                    },
                    error: function () {
                        alert('An error occurred while processing your request.');
                    }
                });
            });
        });
        $('#clearFilter').click(function () {
            $('#startDatePicker').val(''); 
            $('#endDatePicker').val('');  

            var startDate = ''; 
            var endDate = '';   

            $.ajax({
                url: '/Reception/Filter',
                type: 'GET',
                data: {
                    startDate: startDate,
                    endDate: endDate
                },
                success: function (data) {
                    $('#receptionsTable').html(data);
                },
                error: function () {
                    alert('An error occurred while processing your request.');
                }
            });
        });
    </script>
}