@using Clinic.Data.Enum
@using Clinic.ViewModels
@model CreatePatientViewModel
@{
    ViewData["Title"] = "Create Patient";
}

<style>
    .custom-form {
        background-color: #FFFFFF;
        color: #0C7691;
        padding: 20px;
        border-radius: 10px;
    }

        .custom-form .form-group {
            margin-bottom: 20px;
        }

        .custom-form input[type="submit"] {
            background-color: #0C7691;
            color: #FFFFFF;
            border-color: #0C7691;
        }

        .custom-form .btn-cancel {
            color: #0C7691;
            border-color: #0C7691;
        }

            .custom-form .btn-cancel:hover {
                background-color: #776B5D;
                border-color: #776B5D;
                color: #FFFFFF;
            }

        .custom-form .btn-cancel {
            margin-left: 5%;
        }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="custom-form">
            <h4>Create Patient</h4>
            <form method="post" asp-action="Create">

                <div class="form-group row">
                    <div class="col">
                        <label asp-for="Name" class="control-label">Name</label>
                        <input asp-for="Name" class="form-control form-control-lg" placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Surname" class="control-label">Surname</label>
                        <input asp-for="Surname" class="form-control form-control-lg" placeholder="Surname" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                        <label asp-for="BirthDate" class="control-label">Birth date:</label>
                        <input asp-for="BirthDate" class="form-control form-control-lg" type="date" placeholder="Birth Date" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Gender" class="control-label">Gender</label>
                        <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="form-control form-control-lg">
                            <option>--Select--</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                        <label asp-for="Address.Street" class="control-label">Street</label>
                        <input asp-for="Address.Street" class="form-control form-control-lg" placeholder="Street" />
                        <span asp-validation-for="Address.Street" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Address.City" class="control-label">City</label>
                        <input asp-for="Address.City" class="form-control form-control-lg" placeholder="City" />
                        <span asp-validation-for="Address.City" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Address.State" class="control-label">State</label>
                        <input asp-for="Address.State" class="form-control form-control-lg" placeholder="State" />
                        <span asp-validation-for="Address.State" class="text-danger"></span>
                    </div>
                </div> 
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                    <input asp-for="PhoneNumber" class="form-control form-control-lg" placeholder="Phone" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input class="btn btn-outline-light" type="submit" value="Create Patient" />
                    <a asp-controller="Patient" asp-action="Index" class="btn btn-block btn-outline-secondary btn-cancel">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>